<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <title>Login and Registration</title>
    </head>
    <body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <br>        
        <div class="row">
            <div class="col">  
                <h2>Register</h2>
                <br>
                <h5>New Users must register using the form below...</h5>
                <br>
                <form action="/process/register" method="POST">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="input_first_name">First Name:</label>
                        <input type="text" class="form-control" id="input_first_name" name="first_name" placeholder="Enter First Name*">
                    </div>
                    <div class="form-group">
                        <label for="input_last_name">Last Name:</label>
                        <input type="text" class="form-control" id="input_last_name" name="last_name" placeholder="Enter Last Name*">
                      </div>
                    <div class="form-group">
                        <label for="input_username">Username:</label>
                        <input type="text" class="form-control" id="input_username" name="username" placeholder="Enter Username*">
                    </div>
                    <div class="form-group">
                        <label for="input_email">Email:</label>
                        <input type="email" class="form-control" id="input_email" name="email" placeholder="Enter Email*">
                    </div>
                    <div class="form-group">
                        <label for="input_dob">Date of Birth</label>
                          <input class="form-control" type="date" id="input_dob" name="dob">
                      </div>
                    <div class="form-group">
                        <small class="form-text text-muted">*Password must be minimum of 8 characters, and must include at least 1 number, 1 upper case letter, 1 lower case letter, and 1 special character.</small>
                        <label for="input_pw">Password:</label>
                        <input type="password" class="form-control" id="input_pw" name="pw" placeholder="Enter A Valid Password*">
                    </div>
                    <div class="form-group">
                        <label for="input_pw_confirm">Password Confirm:</label>
                        <input type="password" class="form-control" id="input_pw_confirm" name="pw_confirm" placeholder="Confirm Your Password*">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                  </form>
            </div>
            <div class="col">
                <h2>Login</h2>
                <br>
                <h5>Returning Users can Login here...</h5>
                <br>
                <form action="/process/login" method="POST">
                {% csrf_token %}                
                    <div class="form-group">
                        <label for="input_username">Username:</label>
                        <input type="text" class="form-control" id="input_username" name="username" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label for="input_pw">Password:</label>
                        <input type="password" class="form-control" id="input_pw" name="pw" placeholder="Enter password">
                    </div>
                    <button type="submit" class="btn btn-secondary">Login</button> 
                </form>               
            </div>
        </div>
    </div>
    </body>
</html>